.popup-container {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;text-align: center;
position: fixed;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%; /* Adjust width as needed */
  max-width: 600px; /* Set a maximum width if necessary */
  height: 60%; /* Adjust height as needed */
  max-height: 500px; /* Set a maximum height if necessary */
  overflow-y: auto;
         box-shadow: 0 11px 16px #9E9E9E;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 24px;
  color: #333;
}

.popup-header {

  font-size: 28px;
    font-weight: bold;
    margin-bottom: 16px;


  justify-content: center;
}

.popup-list {
  list-style-type: none;
  padding: 0;
}

.popup-list-item {
   text-align: left;

  margin-bottom: 16px;

    font-size: 23px;
}
