
<div class="popup-container"*ngIf="isPopupVisible">
  <h2 class="popup-header">Following</h2>
  <button class="close-btn" (click)="closePopup()">×</button>
  <ul class="popup-list">
    <li class="popup-list-item" *ngFor="let following of following$ | async">
      <div class="d-flex justify-content-between px-4">
       <span>{{ following }}</span>
              <button (click)="toggleFollow()" class="btn-outline-warning btn rounded-3 px-4 py-2" >
                {{ isFollowing ? 'Follow' : 'unfollow' }}
               </button>
        </div>
    </li>

  </ul>
</div>
